body {
	background-color: SlateGray;
}

svg {
	display: block;
	margin: auto;
}

svg .field {
	fill: LightSlateGray;
	opacity: 0.6;
	stroke: Lavender;
}

.static {
	cursor: not-allowed;
}

.draggable {
	cursor: move;
}

.animated {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
/* polyline */
svg polyline {
	fill: none;
	stroke-width: 4;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	-webkit-animation: dash 0.5s linear forwards;
	animation: dash 0.5s linear forwards;
}
@-webkit-keyframes dash {
	to {stroke-dashoffset: 0;}
}
@keyframes dash {
	to {stroke-dashoffset: 0;}
}

