body {
	background-color: SlateGray;
}

svg {
	display: block;
	margin: auto;
}

svg .field {
	fill: LightSlateGray;
	opacity: 0.6;
	stroke: Lavender;
}

.static {
	cursor: not-allowed;
}

.draggable {
	cursor: move;
}

